{{#bs-navbar type="dark" backgroundColor="primary" class="sticky-top" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "home" class="navbar-brand"}}
      <img src="/logo-wash.png" width="40" width="40" alt="WASH!Wash">
    {{/link-to}}
    {{#link-to 'home' class="navbar-brand"}}
      <b>WASH</b>WASH
    {{/link-to}}
  </div>

  {{navbar.content class="mr-auto"}}
  <form class="form-inline">
    {{#bs-button type="success" class="mr-10" onClick=(perform overlay)}}
      Solicite um serviço
    {{/bs-button}}

    {{#if session.isAuthenticated}}
      {{#if (eq session.session.content.authenticated.user.type 'professional')}}
        {{#link-to 'professional.dashboard' session.session.content.authenticated.user.id class="btn btn-outline-dark"}}
          Acesse seus pedidos
        {{/link-to}}
      {{else}}
        {{#link-to 'user.solicitation.dashboard' session.session.content.authenticated.user.id class="btn btn-outline-light"}}
          Acesse seus pedidos
        {{/link-to}}
      {{/if}}
    {{else}}
      {{#link-to 'professional.new.contact' class="btn btn-outline-light"}}
        Cadastre-se como um profissional
      {{/link-to}}
    {{/if}}
  </form>

{{/bs-navbar}}
