.btn-primary,
.btn-success,
.btn-outline-primary:hover{
  color: $white!important;
}

.btn-outline-light:hover {
  background-color: lighten($primary-color, 30%)!important;
  border-color: lighten($primary-color, 30%)!important;
  color: $gradient-color!important;
}
