.ember-power-select-trigger {
  height: calc(2.25rem + 2px);
  padding-top: 0.1rem!important;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
