{{#solicitation-status solicitation=solicitation}}
  <div class="row">
    {{#if (eq solicitation.status 'Aguardando')}}
      <div class="col-sm-12">
        <a href="#" class="btn btn-primary" {{action 'status' true}}>Aceitar</a>
        <a href="#" class="btn btn-danger" {{action 'status' false}}>Recusar</a>
      </div>
    {{/if}}
    {{#if (eq solicitation.status 'Em andamento')}}
      <div class="col-sm-12">
        <a href="#" class="btn btn-primary" {{action 'finished'}}>Finalizar</a>
      </div>
    {{/if}}
    {{#if (eq solicitation.status 'Finalizado')}}
      <div class="col-sm-12">
        <b>Qual sua avaliação para o cliente?</b>
        {{star-rating rating=solicitation.ratingOwner wholeOnly=true onClick=(action 'avaliation')}}
      </div>
    {{/if}}
  </div>
{{/solicitation-status}}