<h4>Informações sobre você</h4>
<div class="dropdown-divider"></div>
{{#bs-form model=this onSubmit=(action "submit") as |form|}}
  <div class="row">
    <div class="col-sm-12">
      {{form.element controlType="text" label="Nome" placeholder="ex.: João das Neves" property="model.name" required=true}}
    </div>
    <div class="col-sm-12">
      {{form.element controlType="phone" label="Telefone" placeholder="ex.: (00) 1234-5678" property="model.phone"}}
    </div>
    <div class="col-sm-12">
      {{form.element controlType="email" label="Email" placeholder="ex.: joao@email.com" property="model.email"}}
    </div>
    <div class="col-sm-12">
      {{form.element controlType="password" label="Senha" placeholder="ex.: senha123" property="model.password"}}
    </div>
    <div class="col-sm-12">
      {{#bs-button type="primary" block=true buttonType="submit"disabled=form.isSubmitting}}
        Enviar e continuar
      {{/bs-button}}
    </div>
  </div>
{{/bs-form}}
