<div class="col-sm-12 py-sm-3 pl-sm-5 bd-content">
  <div class="row">
    <div class="col-sm-5">
      <h1 class="bd-title">
        Precisando de ajuda com as roupas sujas?
        <p class="h4">Nós podemos encontrar as pessoas certas pra isso.</p>
      </h1>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-sm-7">
      <h3 class="bd-title">
        Diga-nos o que você precisa
        <ul>
          {{#each model.users as |user|}}
            <li>{{user.username}}</li>
          {{/each}}
        </ul>
      </h3>
      <div class="card">
        <div class="card-body">
          {{form/form-service model=model}}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="bd-title">
        Encontre o seviço mais perto de você
      </h4>
    </div>
    <div class="col-sm-12">
      {{wash-map}}
    </div>
  </div>
</div>
