{{#bs-navbar type="dark" backgroundColor="primary" class="sticky-top" as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "home" class="navbar-brand"}}
      <b>WASH</b>WASH
    {{/link-to}}
  </div>

  {{navbar.content class="mr-auto"}}
  <form class="form-inline">
    {{#bs-button type="success" class="float-left"}}
      Solicite um serviço
    {{/bs-button}}
    {{#bs-button type="success" outline=true class="float-right"}}
      Cadastre-se como um profissional
    {{/bs-button}}
  </form>

{{/bs-navbar}}

<div class="container-fluid">
  {{outlet}}
</div>
