<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Suas informações
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item" {{action 'logout'}}>
          <a class="nav-link" href="#">
            Sair do sistema
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-sm-10 py-sm-3 pl-sm-5 bd-content">
    <div class="row">
      <div class="dropdown-divider"></div>
      <div class="col-sm-10">
        <h3 class="bd-title">
          Todos os seus pedidos
        </h3>
        <div class="row">
          {{#each model as |solicitation|}}
            {{#solicitation-status solicitation=solicitation}}
              {{#if (eq solicitation.status 'Finalizado')}}
                <b>Qual sua avaliação para o serviço?</b>
                {{star-rating rating=solicitation.ratingProfessional wholeOnly=true onClick=(route-action 'avaliation' solicitation)}}
              {{/if}}
            {{/solicitation-status}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>
