<div class="col-sm-12 py-sm-3 pl-sm-5 bd-content">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="bd-title">
        Cadastre-se como um profissional
        <p class="h4">Disponibilize seus serviços e consiga uma renda extra.</p>
      </h1>
<!--      <img src="/background.jpg" width="40" width="40" alt="WASH!Wash">-->
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-sm-6">
      <h5 class="bd-title">Precisamos de alguns dados</h5>
      <div class="card">
        <div class="card-body">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
