<div class="row">
  <div class="col-sm-8">
    <h3 class="bd-title">Edite suas informações</h3>
    <div class="card">
      <div class="card-body">
        {{form/form-professional model=model notAuthenticate=true}}
      </div>
    </div>
  </div>
</div>
